@import '../styles/mixins';

.post-form-container {
  margin: 20px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    @include buttonStyle();
    font-size: 14px;
  }
}
